#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="data"],
input[type="date"],
textarea {
  display: block;
  width: 220px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

select {
  display: block;
  width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42;
  color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
